In [1]:
import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
Sh09_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2009.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh10_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2010.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh11_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2011.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh12_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2012.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh13_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2013.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh14_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2014.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh15_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2015.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh16_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2016.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh17_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2017.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])
Sh18_df = pd.read_csv("2007-2018-HIC-Counts-by-State_2018.csv", usecols=[0,1,4], header=1, names=["State","Total Beds","Participation"])

In [3]:
Sh09_df['Year'] = '2009'
Sh10_df['Year'] = '2010'
Sh11_df['Year'] = '2011'
Sh12_df['Year'] = '2012'
Sh13_df['Year'] = '2013'
Sh14_df['Year'] = '2014'
Sh15_df['Year'] = '2015'
Sh16_df['Year'] = '2016'
Sh17_df['Year'] = '2017'
Sh18_df['Year'] = '2018'

In [4]:
dfs=[Sh09_df,Sh10_df,Sh11_df,Sh12_df,Sh13_df,Sh14_df,Sh15_df,Sh16_df,Sh17_df,Sh18_df]
shelter_data_all = pd.concat(dfs, axis=0, join='outer', join_axes=None, ignore_index=False,
          keys=None, levels=None, names=None, verify_integrity=False,
          copy=True)

In [71]:
shelter_data_all=shelter_data_all[shelter_data_all.State != 'Total']
shelter_data_all

   State  Total Beds  Participation  Year
0     AK        1697           0.74  2009
1     AL        4065           0.42  2009
2     AR        1802           0.75  2009
3     AZ        9066           0.84  2009
4     CA       52397           0.64  2009
5     CO        6363           0.85  2009
6     CT        4043           0.88  2009
7     DC        6202           0.84  2009
8     DE        1197           0.62  2009
9     FL       22376           0.75  2009
10    GA       10584           0.82  2009
11    GU         234           0.93  2009
12    HI        4210           1.00  2009
13    IA        4288           0.81  2009
14    ID        1944           0.67  2009
15    IL       13153           0.73  2009
16    IN        7608           0.54  2009
17    KS        1399           0.73  2009
18    KY        5250           0.82  2009
19    LA        5070           0.72  2009
20    MA       15036           0.87  2009
21    MD        6026           0.85  2009
22    ME        2774           0.76  2009
23    MI       12059           0.86  2009
24    MN        7171           0.81  2009
25    MO        7391           0.74  2009
26    MS        1451           0.46  2009
27    MT        1214           0.56  2009
28    NC        9639           0.70  2009
29    ND         790           0.95  2009
..   ...         ...            ...   ...
25    MO        5624           0.50  2018
26    MP          30           0.00  2018
27    MS        1079           0.58  2018
28    MT        1376           0.11  2018
29    NC        7963           0.67  2018
30    ND         726           0.67  2018
31    NE        2390           0.59  2018
32    NH        1349           0.81  2018
33    NJ        7099           0.83  2018
34    NM        1651           0.38  2018
35    NV        3033           0.79  2018
36    NY       88063           0.85  2018
37    OH        9269           0.73  2018
38    OK        3339           0.59  2018
39    OR        6419           0.54  2018
40    PA       12909           0.71  2018
41    PR         955           0.80  2018
42    RI        1003           0.72  2018
43    SC        3001           0.62  2018
44    SD        1090           0.16  2018
45    TN        5674           0.48  2018
46    TX       18006           0.59  2018
47    UT        2968           0.65  2018
48    VA        5303           0.66  2018
49    VI         205           0.33  2018
50    VT         937           0.67  2018
51    WA       15016           0.66  2018
52    WI        4721           0.69  2018
53    WV        1593           0.65  2018
54    WY         560           0.72  2018

[542 rows x 4 columns]

In [72]:
shelter_data_all = shelter_data_all[['State','Year','Total Beds','Participation']]
shelter_data_all = shelter_data_all.sort_values(by=['State','Year'])

shelter_data_all

   State  Year  Total Beds  Participation
0     AK  2009        1697           0.74
0     AK  2010        1805           0.74
0     AK  2011        1939           0.82
0     AK  2012        1877           0.83
0     AK  2013        1895           0.80
0     AK  2014        1814           0.57
0     AK  2015        1860           0.61
0     AK  2016        1826           0.68
0     AK  2017        1940           0.73
0     AK  2018        1940           0.73
1     AL  2009        4065           0.42
1     AL  2010        4221           0.44
1     AL  2011        4497           0.52
1     AL  2012        4297           0.48
1     AL  2013        4077           0.56
1     AL  2014        3724           0.53
1     AL  2015        3613           0.50
1     AL  2016        3489           0.55
1     AL  2017        3188           0.51
1     AL  2018        3188           0.51
2     AR  2009        1802           0.75
2     AR  2010        2700           0.69
2     AR  2011        2710           0.67
2     AR  2012        2662           0.65
2     AR  2013        2561           0.59
2     AR  2014        2151           0.44
2     AR  2015        2486           0.41
2     AR  2016        2394           0.38
2     AR  2017        2362           0.29
2     AR  2018        2362           0.29
..   ...   ...         ...            ...
51    WI  2009        5989           0.88
51    WI  2010        6008           0.86
51    WI  2011        6692           0.90
51    WI  2012        6384           0.90
51    WI  2013        6701           0.89
51    WI  2014        6504           0.71
51    WI  2015        6703           0.70
51    WI  2016        6404           0.70
52    WI  2017        4721           0.69
52    WI  2018        4721           0.69
52    WV  2009        1853           0.70
52    WV  2010        2002           0.73
52    WV  2011        1878           0.71
52    WV  2012        1874           0.69
52    WV  2013        1980           0.65
52    WV  2014        1965           0.66
52    WV  2015        1815           0.62
52    WV  2016        1731           0.68
53    WV  2017        1593           0.65
53    WV  2018        1593           0.65
53    WY  2009         739           0.35
53    WY  2010         904           0.41
53    WY  2011         753           0.72
53    WY  2012         817           0.77
53    WY  2013         905           0.70
53    WY  2014         815           0.41
53    WY  2015         853           0.59
53    WY  2016         812           0.63
54    WY  2017         560           0.72
54    WY  2018         560           0.72

[542 rows x 4 columns]

In [5]:
shelter_data_merged=shelter_data_all
shelter_data_merged.to_csv("Shelters by State -2009-18.csv", mode='a',index=False)